<%= form_with model: current_user, url: edit_path, :html => { :multipart => true }, data: {turbo: false} do |form| %>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= form.label :avatar %>
        <%= form.file_field :avatar, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= form.submit "Submit", class: 'btn btn-primary' %>
    </div>
<% end %>